/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

body {
  color: $color-grey-dark-2;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: $line-height-default;
}

.heading-primary {
  color: $color-grey-dark-3;
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: $letter-spacing-1;
  line-height: $line-height-small;
  margin-bottom: 3.2rem;
}
